= javascript_include_tag "/javascripts/sql_around.js"
.row
  %textarea#textarea.form-control{rows:"3", placeholder: "please input SQL sentences."}

.row
  %a#submit.right.btn.btn-default{disabled: "disabled"} Parse

.row#panel


