- if @output.is_a?(Array)
  %table.table.table-condesed.table-bordered
    %thead
      %tr
        %th colname
        %th value
    - insert, values = @output 
    - insert.each_with_index do |colname, index|
      %tbody
        %tr
          %td= colname
          %td= values.at(index)
- else
  .alert.alert-danger
    = @output.to_s

