.row
  %h1 微信消息

.row
  %table.table.table-condensed
    %thead
      %tr
        %th -
        %th 昵称
        %th 类型
        %th 注册时间

    %tbody
      - @messages.each_with_index do |message,index|
        %tr
          %td= index
          %td= message.weixiner.nick_name
          %td= message.msg_type
          %td= message.created_at.strftime("%y-%m-%d %H:%M")
