.row
  .col-lg-4
    .stat
      %h2 用户
      %span.stat-heading= @users.count
  .col-lg-4
    .stat
      %h2 微信
      %span.stat-heading= @weixiners.count
  .col-lg-4
    .stat
      %h2 消息
      %span.stat-heading= @messages.count


